{% apply spaceless %}

{% set _field_label = (override_label|trim is not empty) ? override_label|t : field_label %}
{% set _htag = heading_value|default('h2') %}
{% set _intro_text = intro_text %}
{% set _field_id = field_id|default('it-menu-' ~ random()) %}
{% set _label_visible = label_visible|default('visible') %}
{% set _label_menu = label_menu|default('visible') %}
{% set _audio = audio|default('active') %}
{% set _attributes = attributes|default('') %}
{% set _classes = [
  'mb-3',
  has_bg_grey ? 'has-bg-grey',
  has_bg_grey ? 'p-3',
] %}

{% set _h_classes = [
  (_label_menu == 'visible') ? 'it-page-section' : ''
]|merge([label_size]) %}
{% if content_attributes is empty %}
  {% set content_attributes = create_attribute() %}
{% endif %}
{% if h_attributes is empty %}
  {% set h_attributes = create_attribute() %}
{% endif %}
{% set content_attributes = content_attributes.addClass(_classes) %}
{% if _audio == 'active' %}{% set attributes = attributes.setAttribute('audio', '') %}{% endif %}
{% if _field_label and _label_visible != 'visible' %}
  {% set h_attributes = h_attributes.addClass('visually-hidden-focusable') %}
{% endif %}

<article{{ content_attributes }}>
  {% if _field_label|render|striptags|trim is not empty %}
    <{{ _htag }}{{ h_attributes.addClass(_h_classes).setAttribute('id', _field_id) }}>
      {{ _field_label|render|striptags|trim }}
    </{{ _htag }}>
  {% endif %}

  {% if _intro_text %}
    <p>{{ _intro_text }}</p>
  {% endif %}

  {% if _attributes is empty %}
    {% set _attributes = create_attribute() %}
  {% endif %}

  {# variant default #}
  {% if variant == 'default' %}

    {% set card_text %}
      <div class="d-flex flex-wrap">{{ field_value }}</div>
    {% endset %}

    {% if use_card %}
      {% embed '@bi-bcl/card/card.html.twig' with {
        card_title: label,
        card_category: content.field_tipo_punto_di_contatto|render|striptags,
        card_text: card_text,
        card_teaser: false,
        card_shadow: true,
        card_border: false,
        card_classes: ['card-teaser-info'],
        card_attributes: _attributes
      } %}

        {% block cardTitle %}{% endblock %}

        {% block cardText %}
          {% if _card_text is not empty %}
            <div class="card-text font-sans-serif">{{ _card_text }}</div>
          {% endif %}
        {% endblock %}

      {% endembed %}
    {% else %}
      <div{{ _attributes }}>{{ field_value }}</div>
    {% endif %}
  {% endif %}

  {# variant address #}
  {% if variant == 'address' %}
    {% set card_text %}
      <div class="mb-5 fs-6">
        <p>{{ field_street }} - {{ field_cap }} {{ field_city }}</p>
      </div>
    {% endset %}

    {% embed '@bi-bcl/card/card.html.twig' with {
      card_title: label,
      card_text: card_text,
      card_teaser: true,
      card_shadow: false,
      card_border: true,
      card_classes: [],
      card_attributes: _attributes
    } %}

      {% block cardTitle %}{% endblock %}

      {% block cardText %}
        <div class="d-flex">
          <div class="categoryicon-top">
            {% include '@bi-bcl/icon/icon.html.twig' with {name: 'it-pin'} %}
          </div>
          {% if _card_text is not empty %}
            <div class="card-text font-sans-serif pt-3">{{ _card_text }}</div>
          {% endif %}
        </div>
      {% endblock %}

    {% endembed %}
  {% endif %}

  {# variant links #}
  {% if variant == 'links' %}
    {% set card_text %}
      <div class="mb-5 fs-6">
        <a href="{{ field_link_uri }}">{{ field_link_text }}</a>
      </div>
    {% endset %}

    {% embed '@bi-bcl/card/card.html.twig' with {
      card_title: label,
      card_text: card_text,
      card_teaser: true,
      card_shadow: false,
      card_border: true,
      card_classes: [''],
      card_attributes: _attributes
    } %}

      {% block cardTitle %}{% endblock %}

    {% endembed %}
  {% endif %}

</article>


{% endapply %}
