{#
/**
 * @file
 * Template for timeline_item component.
 * Docs: https://italia.github.io/bootstrap-italia/docs/componenti/timeline/
 * Latest revision: v2.3.8
 *
 * Parameters:
 * - item array
 * - content (string) (default: '')
 * - timeline_item_classes (array) (default: '')
 * - timeline_item_attributes (obj attribute) (default: '')
 *
 * Examples:
   {% embed '@bi-bcl/date-timeline/date-timeline-item.html.twig' with {
     item: {
              'date': '12 maggio 2023',
              'title': 'Apertura iscrizioni',
            },
     {% block timelineItemContent %}
       Your content
     {% endblock %}
   {% endembed %}
 *
 */
#}
{% apply spaceless %}
  {# Create date array #}
  {% set date_array = item.date|split(' ') %}

  {# Set defaults #}
  {% set _day = date_array.0 ?? false %}
  {% if date_array.1 and date_array.2 %}
    {% set _month = date_array.1 ?? false %}
    {% set _year = date_array.2 ?? false %}
  {% else %}
    {% set _day_text = 'days'|t %}
  {% endif %}

  {# {% set _title %}
  <h3 class="h5 mb-0">{{ title }}</h4>
  {% endset %} #}

  {% set _timeline_item_classes = timeline_item_classes|default('') %}
  {% set _timeline_item_attributes = timeline_item_attributes|default('') %}

  {# Set options #}
  {% if _timeline_item_classes is not empty %}
    {% set _classes = _classes|merge(timeline_item_classes) %}
  {% endif %}

  {% if _timeline_item_attributes is empty %}
    {% set timeline_item_attributes = create_attribute() %}
  {% endif %}
  {% set timeline_item_attributes = timeline_item_attributes
    .addClass(_classes)
  %}

  {# Component #}
    <div class="point-list">
      <div class="point-list-aside point-list-primary">
        <div class="point-year font-monospace small">{{ _year }}</div>
        <div class="point-date font-monospace fs-2">{{ _day }} <div class="small fw-semibold">{{ _day_text }}</div></div>
        <div class="point-month font-monospace fs-6 fw-semibold">{{ _month|slice(0, 3) }}</div>
      </div>
      <div class="point-list-content">
        <div class="card card-teaser shadow rounded">
          <div class="card-body">
            <h5 class="card-title">
              {{ item.title }}
            </h5>
          </div>
        </div>
      </div>
    </div>

{% endapply %}
