{#
/**
 * @file
 * Default theme implementation for Symfony Email wrapper.
 *
 * Variables:
 * - body: Email body content.
 * - is_html: True if generating HTML output, false for plain text.
 * - subject: Email subject.
 * - type: Email type.
 * - sub_type: Email sub-type.
 * - attributes: HTML attributes for the top-level email element.
 *
 * @see template_preprocess_email_wrap()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'email-type-' ~ type|clean_class,
    'email-sub-type-' ~ sub_type|clean_class,
  ]
%}

{% if is_html %}
  <html>
    <head>
      <style>
        .img-responsive-wrapper .img-responsive .img-wrapper img {
          width: 100%;
          display: block;
          height: 100%;
          object-fit: cover;
        }
        .img-fluid {
          max-width: 100%;
          height: auto;
        }
        a.footer {
          color: {{text_color}}
        }

        ul.icon {
          fill: #000 !important;
          /* width: 24px;
          height: 24px;
          margin-left: 16px; */
          list-style-type: none;
        }
        ul.icon li {
          display: inline;
          padding-right: 1em;
        }

        ul.icon li a {
          color: #000;
        }

        .icon.icon-sm {
          width: 24px;
          height: 24px;
        }

        .visually-hidden-focusable:not(:focus):not(:focus-within) {
          position: absolute !important;
          width: 1px !important;
          height: 1px !important;
          padding: 0 !important;
          margin: -1px !important;
          overflow: hidden !important;
          clip: rect(0, 0, 0, 0) !important;
          white-space: nowrap !important;
          border: 0 !important;
        }
      </style>
    </head>
    <body style="font-family: Arial, Helvetica, sans-serif; background-color: white;">
      <div{{attributes.addClass(classes).setAttribute('style','max-width:800px;margin:auto;')}}>
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr style="background: url({{ img_header }}); background-repeat: no-repeat; background-size: cover;">
            <th style="width: 30%; background-color: #ffffff;	color: #000000; opacity: 0.8;">

              <img width="120px" src="{{ drupal_url(logo_path|file_url|replace({'%20': ' '}), {absolute: true}) }}" alt="logo Comune">
              <h1 style="font-size: 0.9em">{{ site_name }}</h1>

            </th>
            <td>
              &nbsp;
            </td>
          </tr>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <div style="padding: 0px 0px 0px 0px;" class="clearfix">
                {{ body }}
                <ul class="icon">
                  {%- for social in socials -%}
                    {%- if social.url -%}
                      <li>
                        {%- set social_attributes = create_attribute() -%}
                        {%- set social_attributes = social_attributes
                        .setAttribute('href', social.url)
                        .setAttribute('rel', 'noopener')
                        .setAttribute('aria-label', social.label)
                      -%}

                        {%- set social_attributes = social_attributes
                          .setAttribute('target', '_blank')
                        -%}

                        <a{{-social_attributes-}}>
                          <img src="{{ base_url ~ active_theme_path() ~ "/templates/email/social_icons/" ~ social.label ~ ".png" }}" width="48" height="48">
                          {# {%- include '@bi-bcl/icon/icon.html.twig' with {
                                                    name: 'it-' ~ (social.label|lower),
                                                    size: 'sm',
                                                    icon_classes: ['align-top'],
                                                    icon_path: base_url ~ active_theme_path() ~ "/dist/svg/sprites.svg"
                                                  } -%} #}
                          <span class="visually-hidden-focusable">{{ social.label }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div style="font-size: 0.9em; padding: 8px; background-color: {{ footer_color }}; color: {{ text_color }}; text-align: center;">
        <a class="footer" href="{{ base_url }}">{{ site_name }}</a>
        {% for item in links %}
         {% if not loop.last %} - {% endif %} <a class="footer" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
      </div>
    </body>
  </html>
{% else %}
  {{ body }}
{% endif %}
